#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

##Author\
Dmitry M

**Objectives**
- Learn the popular languages used by Data Scientists
- List the commonly used libraries by Data Scientists
- Learn how to use Jupyter notebooks
- Learn about the different frameworks and tools used in Data Scient

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-Learn
2. Pandas
3. Pytorch
4. Tensorflow
5. NLTK

|Data Science Tools|
|:-----------------|
|MySQL|
|Kubernetes|
|Watson Studio|
|Redshift|

###Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.

(3 * 4) + 5

17

In [2]:
#This will convert 200 minutes to hours

200 / 60

3.3333333333333335